.card {
    background-color: #fafafa;
    width: 300px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card-img {
    width: 300px;

}

.card:hover {
    transform: scale(1.1);
    transition: ease-in 0.3s;
}

.card-title {
    padding-left: 4px;
    text-align: center;
}

.card-footer {
    padding-left: 4px;
    padding-bottom: 5px;
    text-align: center;
}

.card-link {
    text-decoration: none;
    color: #000;
}